* {
    font-size: 14px;
}

.container {
    width: 640px;
    height: 400px;
    position: relative;
    left: 30%;
}

header > h1 {
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    font-family: "Trebuchet MS", Trebuchet, sans-serif;
    color: #FB460A;
    font-style: italic;
    font-size: 40px;
}

header > p {
    text-align: center;
}



.header-box {
    background-color: yellow;
    height: 480px;
    width: 640px;
}
.header-box img {
    width: 640px;
    height: 480px;
    position: absolute;
}

.copyright {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 7px 10px;
    border-radius: 9px;
    font-size: 10px;
    font-weight: bold;
}

